@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color-bg: rgb(41, 41, 41);
  --fade-color: rgb(153, 153, 153);

  --fontSize-title-lg: 60px;
  --fontWeight-largh: 400;
  --fontWeight-medium: 300;

  --fontSize-content-lg: 36px;
  --fontSize-content-md: 18px;
  --fontSize-content-sm: 14px;

  /* // --secondary-color-bg: ;
    --fade-color: rgb(153, 153, 153);
    // --primary-color-text: ; */
}


body {
  margin: 0px;
  overflow: hidden;
}

@media screen and (max-width: 739px) {
  :root {
    --fontSize-title-lg: 20px;
    --fontSize-content-lg: 20px;
    --fontSize-content-md: 16px;
  }
}